#section-ourway {
	ul {
		list-style: none;

		li {
			border-bottom: 1px solid;
			padding: 10px;

			&:last-of-type {
				border: none;
			};
		}
	}

	.ourway-icons {
		padding: 0 50px;

		.shadow {
			fill-opacity: 1;
			transform: scale(1);
			transform-origin: 50% 50%;
			transition: all .3s ease-in-out;
		}

		.levitate-object {
			transform: translateY(0px);
			transition: all .3s ease-in-out;
		}

		&:hover{

			.shadow {
				fill-opacity: 0.3;
				transform: scale(1.3);
			}

			.levitate-object {
				transform: translateY(-20px);




				.tire {
	  				animation: tire 5s cubic-bezier(.70,0,.40,1) infinite;
				}

				.wheel {
	  				animation: wheel 5s cubic-bezier(.57,.02,.44,.93) infinite;
				}

				@keyframes wheel{
					from{
						transform-origin: 50% 50%;

					}
				  	to{
				    	transform: rotate(1800deg);
				    	transform-origin: 50% 50%;
				  }
				}

				@keyframes tire{
				  from {
				    transform-origin: 50% 50%;
				  }
				  to{
				    transform: rotate(360deg);
				    transform-origin: 50% 50%;
				  }
				}
			}
		}
	}
}