#section-ourway {
	ul {
		list-style: none;

		li {
			border-bottom: 1px solid;
			padding: 10px;

			&:last-of-type {
				border: none;
			};
		}
	}

	.ourway-icons {
		padding: 0 50px;
        
        .st0{fill:#CBCBCB;}
        .st1{fill:none;stroke:#444444;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

		.shadow {
			fill-opacity: 1;
			transform: scale(1);
			transform-origin: 50% 50%;
			transition: all .3s ease-in-out;
		}

		.levitate-object {
			transform: translateY(0px);
			transition: all .3s ease-in-out;
		}

		&:hover{
		}
	}
}